<h1>Welcome, <%= @current_user.username %></h1>

<h3>Contacts: </h3>
  <% contact_array = [] %>
  <% @contacts.each do |contact| %>
    <% contact_array << contact.address %>
  <% end %>
  <ol>
    <li><%= contact_array.uniq.join(", ") %></li>
  </ol>

  <br>
  <br>

<h3>received: </h3>
<% received_array = [] %>
<% if @received_emails.empty? || nil %>
    <h2>Your inbox is empty</h2>
<% else %>
    <% @received_emails.each do |email|  %>
      <% received_array << email.content %>
    <% end %>
<% end %>
<ol>
  <% received_array.uniq.each.with_index do |content, i| %>
    <li><%= i + 1 %>. <%= content %></li>
  <% end %>
</ol>

<br>
<br>

<h3>sent: </h3>
<% sent_array = [] %>
<% if @sent_emails.empty? || nil %>
    <h2>Your outbox is empty</h2>
<% else %>
    <% @sent_emails.each do |email|  %>
      <% sent_array << email.content %>
    <% end %>
<% end %>
<ol>
  <% sent_array.uniq.each.with_index do |content, i| %>
    <li><%= i + 1 %>. <%= content %> </li>
  <% end %>
</ol>

<h3>received Example:</h3>
<% @received_emails.each do |email| %>
  <ul>
    <li><%= email.content %>, <%= email.user.email_address %></li>
  </ul>
<% end %>




<br><br>


<button type="button" name="button"><a href="/new">Create New Email</a></button>

<button type="button" name="button"><a href="/logout">Logout</a></button>
