<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/mailbox.css">
    <title></title>
  </head>
  <body>

    <header>
      <div class="header">
        <img src="../images/cactus-background.png" alt="roadrunner image">
        <h1>Welcome, <%= @current_user.username.capitalize %></h1>
      </div>
      <div id="logout">
        <button type="button" name="button"><a href="/logout">Logout</a></button>
      </div>
    </header>

    <div class="container">

      <div id="contacts">
        <h3>CONTACTS </h3>
          <% contact_array = [] %>
          <% @contacts.each do |contact| %>
            <% contact_array << contact.address %>
          <% end %>
            <span><%= contact_array.uniq.join(", ") %></span>
      </div>

      <br>
      <br>

      <div class="inbox">
        <div id="title_button">
          <h3>INBOX</h3>
          <div id="create_new">
            <button type="button" name="button"><a href="/new">Create New Email</a></button>
          </div>
        </div>
        <span class="instruct">(click message to see full correspondence)</span><br><br>
        <% if @received_emails.empty? || nil %>
          <h3>Your inbox is empty</h3>
        <% else %>
        <% @received_emails.each_with_index do |email, i| %>
            <div class="inbox_message">
              <span><a href="/show_inbox/<%= email.id %>"><strong>From: </strong><%= email.user.email_address %>: <%= email.content %></a></span>
            </div>
          <% end %>
        <% end %>
      </div>

      <br><br>

      <div id="outbox">
        <h3>OUTBOX</h3><span class="instruct">(click message to edit or delete)</span><br><br>
        <% if @sent_emails.empty? || nil %>
          <h3>Your outbox is empty</h3>
        <% else %>
        <% @sent_emails.each_with_index do |email, i| %>
            <div class="outbox_message">
              <span><a href="show/<%= email.id %>"><strong>To: </strong><%= email.contact.address %>: <%= email.content %></a></span><br>
            </div>
          <% end %>
        <% end %>
      </div>


      <br><br>


     </div> <!-- END CONTAINER -->


  </body>
</html>
