<h1>Welcome, <%= @current_user.username %></h1>

<h3>CONTACTS: </h3>
  <% contact_array = [] %>
  <% @contacts.each do |contact| %>
    <% contact_array << contact.address %>
  <% end %>
  <ol>
    <li><%= contact_array.uniq.join(", ") %></li>
  </ol>

<br>
<br>

<h3>INBOX:</h3><br>
<% if @received_emails.empty? || nil %>
  <h2>Your outbox is empty</h2>
<% else %>
<% @received_emails.each_with_index do |email, i| %>
    <ul>
      <li>(<%= email.id %>) <strong>From: </strong><%= email.user.email_address %>: <%= email.content %></li><br>
    </ul>
  <% end %>
<% end %>

<br><br>

<h3>OUTBOX:</h3><br>
<% if @sent_emails.empty? || nil %>
  <h2>Your outbox is empty</h2>
<% else %>
<% @sent_emails.each_with_index do |email, i| %>
    <ul>
      <li><a href="show/<%= email.id %>">(<%= email.id %>)</a> <strong>To: </strong><%= email.contact.address %>: <%= email.content %></li><br>
    </ul>
  <% end %>
<% end %>


<br><br>


<button type="button" name="button"><a href="/new">Create New Email</a></button>

<button type="button" name="button"><a href="/logout">Logout</a></button>
