<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/mailbox.css">
    <title>Error</title>
  </head>
  <body>

    <h1>Welcome, <%= @current_user.username %></h1>

    <h3>CONTACTS: </h3>
      <% contact_array = [] %>
      <% @contacts.each do |contact| %>
        <% contact_array << contact.address %>
      <% end %>
      <ol>
        <li><%= contact_array.uniq.join(", ") %></li>
      </ol>

    <br>
    <br>

    <h3>INBOX</h3><span>(click message to see full correspondence)</span><br><br>
    <% if @received_emails.empty? || nil %>
      <h3>Your inbox is empty</h3>
    <% else %>
    <% @received_emails.each_with_index do |email, i| %>
        <ul>
          <li><a href="/show_inbox/<%= email.id %>"><strong>From: </strong><%= email.user.email_address %>: <%= email.content %></a></li><br>
        </ul>
      <% end %>
    <% end %>

    <br><br>

    <h3>OUTBOX</h3><span>(click message to edit or delete)</span><br><br>
    <% if @sent_emails.empty? || nil %>
      <h3>Your outbox is empty</h3>
    <% else %>
    <% @sent_emails.each_with_index do |email, i| %>
        <ul>
          <li><a href="show/<%= email.id %>"><strong>To: </strong><%= email.contact.address %>: <%= email.content %></a></li><br>
        </ul>
      <% end %>
    <% end %>


    <br><br>


    <button type="button" name="button"><a href="/new">Create New Email</a></button>

    <button type="button" name="button"><a href="/logout">Logout</a></button>


  </body>
</html>
