<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/mailbox.css">
    <title></title>
  </head>
  <body>

    <header>
      <div class="header">
        <a href="/inbox"><img src="../images/black-letter.png" alt="envelope"></a>
        <h1>Welcome, <%= @current_user.username.capitalize %></h1>
      </div>
      <div id="logout">
        <button type="button" name="button"><a href="/logout">Logout</a></button>
      </div>
    </header>

    <div class="container">

      <br>
      <br>

      <div class="box" id="contacts">
        <h3>CONTACTS </h3>
        <span class="instruct">(click contact)</span><br><br>
          <% contact_array = [] %>
          <% @contacts.each do |contact| %>
            <% contact_array << contact.address %>
          <% end %>
          <span>
            <% contact_array.uniq.each do |contact| %>
              <a class="contact" href="/show_outbox/<%= contact %>"><%= contact %></a><br><br>
            <% end %>
          </span>
          <div id="create_new">
            <button type="button" name="button"><a href="/new">Create New Contact</a></button>
          </div>
      </div>

      <div class="box" id="inbox">
        <div id="title_button">
          <h3>INBOX</h3>
          <div id="create_new">
            <button type="button" name="button"><a href="/new">Create New Message</a></button>
          </div>
        </div>
        <span class="instruct">(click message to see full conversation)</span><br><br>
        <% if @received_emails.empty? || nil %>
          <h3>Your inbox is empty</h3>
        <% else %>
        <% @received_emails.each_with_index do |email, i| %>
            <a href="/show_outbox/<%= email.user.email_address %>">
              <div class="inbox_message">
                <span><b>From: </b><%= email.user.email_address %>: <%= email.content.slice(0..15) %>...</span>
              </div>
            </a>
          <% end %>
        <% end %>
      </div>

      <br><br>

     </div> <!-- END CONTAINER -->


  </body>
</html>
