<header>
  <div class="header">
    <a href="/inbox"><img src="../images/black-letter.png" alt="envelope"></a>
    <h1>Hi, <%= @current_user.username.capitalize %></h1>
  </div>
  <div id="logout">
    <button type="button" name="button"><a href="/logout">Logout</a></button>
    <button type="button" name="button"><a href="/inbox">Back to inbox</a> </button>
  </div>
</header>

<div class="box" id="email_contacts">
  <% if flash.has?(:message) %>
    <%= flash[:message] %>
  <% end %>
  <div class="email_users">
    <span>From:
      <b><%= @current_user.username %></b>,
      <i><%= @current_user.email_address %></i>
    </span>

    <br>

    <span>To:
      <b><%= @contact.address %></b>
    </span>

    <br>

  </div>
  <div class="email_contact_buttons">
    <button type="button" name="button"><a href="/new">Reply</a></button>

    <br><br>

    <button type="button" name="button"><a href="/inbox">Back to inbox</a></button>
  </div>
</div>

<div class="box" id="show_email"
  <% @conversation.each.with_index(1) do |email, i| %>
    <% if email.user_id == @current_user.id %>
      <%= i %>. From:
        <b><%= @current_user.username %></b>,
        <i><%= @current_user.email_address %></i> |
        <i><%= email.created_at.localtime.strftime("%F, %I:%M %p") %></i>

        <br><br>

        <b>To:</b> <i><%= email.contact.address %></i>

        <br><br>

        <span class="email_content"><%= email.content %></span>

        <br>

        <div id="show_email_buttons">
          <button type="button" name="button"><a href="/edit/<%= email.id %>">Edit</a></button>

          <form class="" action="/edit/<%= email.id %>/delete" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" name="submit" value="Delete">
          </form>
        </div>

    <% else  %>

      <%= i %>.
        <b><%= email.user.username %></b>,
        <i><%= email.user.email_address %></i> |
        <i><%= email.created_at.localtime.strftime("%F, %I:%M %p") %></i>

        <br><br>

        <span class="email_content"><%= email.content %></span>

        <br>

        <div id="show_email_buttons">
          <!-- <form class="" action="/edit/< email.id %>/delete" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" name="submit" value="Delete">
          </form> -->
        </div>

    <% end  %>
  <% end %>

  <% if flash.has?(:message) %>
    <%= flash[:message] %>
  <% end %>

  <div class="email_contact_buttons">
    <button type="button" name="button"><a href="/new">Reply</a></button><br><br>
    <button type="button" name="button"><a href="/inbox">Back to inbox</a> </button>
  </div>

</div>
